.label {
    color: white;
    white-space:nowrap;
}

.note-list {
    color: lightgreen;
}

.cb-label {
    color: white;
    white-space:nowrap;
}

.cb {
    width: 15px;
}

.value {
    color: yellow;
    padding-left: 5px;
    padding-right: 5px;
    white-space:nowrap;
}

.note {
    color: gray;
    padding-left: 5px;
    padding-right: 5px;
    white-space:nowrap;
}

.heading {
    color: cyan;
    white-space:nowrap;
}

.num-input {
    width: 100px;
}

.big-num-input {
    width: 150px;
}

.attr-input {
    width: 40px;
}

.btn {
    padding-left: 5px;
    white-space:nowrap;
}

.divider{
    width:15px;
    height:auto;
    display:inline-block;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  .no-wrap {
    white-space:nowrap;
  }

  .tooltip:after {
    background-image: url('../assets/help.png');
    background-size: 18px 18px;
    display: inline-block;
    width: 18px; 
    height: 18px;
    content:"";
    vertical-align:top;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    white-space: pre-wrap !important;
    opacity: 1;
  }

  .best {
      font-weight: bold;
      color: lime;
    }

  .link {
      color: yellow;
  }

  .link:visited {
      color: green;
  }

  .link:hover {
      color: cyan;
  }

  .tooltip-img {
      width: 200px;
  }

  .mastery-img {
    background-image: url('../assets/star.png');
    background-color: black;
    background-size: 18px 18px;
    display: inline-block;
    width: 18px; 
    height: 18px;
    content:"";
    vertical-align:top;
}

.notesTable {
    width: 1200px;    
}

.mainTable {
      margin-left: 25px;
  }

  .tick-table {
      margin-left: 0px;
  }

  .tick-table-row {
      text-align: center;
  }

  .tick-table-holder {
      vertical-align: top;
  }

  .tick-table-label {
      text-align: left;
      color: cyan;
      white-space: nowrap; /* Chrome */
    }

  .tick-table-header {
    font-weight: bold;
    white-space: nowrap; /* Chrome */
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.cemter {
    text-align: center;
}

  .tick-table-value {
      text-align: right;
      color: yellow;
  }