.label {
    color: white;
}

.value {
    color: yellow;
    padding-left: 5px;
    padding-right: 5px;
}

.heading {
    color: cyan;
}

.btn {
    padding-left: 5px;
}

.divider{
    width:15px;
    height:auto;
    display:inline-block;
}