<div [ngBusy]="busy"></div>
<h1 class="title">Grow Defense Damage Simulator</h1>
<h2 class="heading">Notes</h2>
<ul>
      <li class="label">Only simulates damage against a single target (i.e. boss)</li>
      <li class="label">Rate of fire is limited by browser framerate</li>
      <li class="label">Assumes you've unlocked the appropriate masteries with gems (depending on # talent points in
            arrow/laser)</li>
      <li class="label">1/29/19: Developer confirmed a bug in in-game stats UI for laser damage, so values here are
            accurate, but stats page is incorrect.</li>
</ul>
<table class="mainTable">
      <tr>
            <td colspan="9">
                  <button class="btn" (click)="save()">Save</button>
                  <div class="tooltip"><span class="tooltiptext">Save all inputs to browser local storage</span></div>
                  <div class="divider"></div>
                  <button class="btn" (click)="load()">Load</button>
                  <div class="tooltip"><span class="tooltiptext">Load all inputs from browser local storage</span></div>
                  <div class="divider"></div>
                  <button class="btn" (click)="reset()">Reset</button>
                  <div class="tooltip"><span class="tooltiptext">Reset all fields to default values</span></div>
                  <div class="divider"></div>
                  <button class="btn" (click)="copy(data)">Copy</button>
                  <div class="tooltip"><span class="tooltiptext">Copy all field values to clipboard</span></div>
                  <div class="divider"></div>
                  <button class="btn" (click)="paste()">Paste</button>
                  <div class="tooltip"><span class="tooltiptext">Paste all field values from clipboard</span></div>
            </td>
      </tr>
      <tr *ngIf="doPaste">
            <td colspan="9">
                  <textarea cols="40" rows="10" [(ngModel)]="pasteText"></textarea>
            </td>
      </tr>
      <tr *ngIf="doPaste">
            <td class="label" colspan="9">Paste the clipboard contents into the text area and press OK</td>
      </tr>
      <tr *ngIf="doPaste">
            <button class="btn" (click)="getPaste()">OK</button>
            <div class="divider"></div>
            <button class="btn" (click)="cancelPaste()">Cancel</button>
      </tr>
      <tr>
            <td class="label">Level <div class="tooltip"><span class="tooltiptext">Level calculated from talent points</span></div>
            </td>
            <td class="value">{{ data.level }}</td>
      </tr>
      <tr>
            <td class="heading">Static Parameters <div class="tooltip"><span class="tooltiptext">Parameters that vary
                              by web
                              browser or have not been confirmed. Leave these alone if you don't know.</span></div>
            </td>
      </tr>
      <tr>
            <td class="label">Laser RoF <div class="tooltip"><span class="tooltiptext">Laser ticks per second from each
                              laser.
                              Depends on browser framerate. Don't change if you don't know it.</span></div>
            </td>
            <td colspan="6"><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.params.laserRoFv2"
                        (ngModelChange)="updateData($event)">
                  <span class="no-wrap"> ticks per second per laser</span>
                  <span class="value">
                        How do I determine rate of fire for laser?<div class="tooltip"><span class="tooltiptext">Record
                                    video of game playing at 30 fps. Step through
                                    video one frame at a time and see how many frames it takes for each laser tick
                                    damage to
                                    appear.</span></div></span>
            </td>
      </tr>
      <tr>
            <td class="label">Finger RoF <div class="tooltip"><span class="tooltiptext">Finger clicks per second. Might
                              be a
                              hard limit in game (unconfirmed). Don't change if you don't know it.</span></div>
            </td>
            <td colspan="3"><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.params.fingerRoF"
                        (ngModelChange)="updateData($event)">
                  <span class="no-wrap"> clicks per second</span></td>
      </tr>
      <tr>
            <td class="label">Cannon RoF <div class="tooltip"><span class="tooltiptext">Cannon Rate of Fire (seconds
                              per shot).
                              Don't change if you don't know it.</span></div>
            </td>
            <td colspan="3"><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.params.cannonRoF"
                        (ngModelChange)="updateData($event)">
                  <span class="no-wrap"> seconds</span></td>
      </tr>
      <tr>
            <td class="heading">Coin Upgrades <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/coins-shop.png" />Coin
                              upgrades (1st tab in shop)</span></div>
            </td>
      </tr>
      <tr>
            <td class="label">Arrow Firing Rate <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/coins-shop-arrow-rate.png" />Arrow
                              Firing Rate level (min = 1, max = 5)</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="1" max="5" [(ngModel)]="data.skills.arrowRoF"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.baseArrowsSec }} arrows/sec <div class="tooltip"><span class="tooltiptext">Base
                              # of arrows per per
                              archer</span></div>
            </td>
            <ng-container *ngIf="data.skills.arrowRoF < 5">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.arrowRoF']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.arrowRoF']['inc'] }} to
                                    arrow
                                    RoF results in a total dps of {{ whatIf['skills.arrowRoF']['dps'] | number }} which
                                    is a
                                    {{
                                    whatIf['skills.arrowRoF']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['skills.arrowRoF']['best']">+{{
                              whatIf['skills.arrowRoF']['dpsPct'] }}%</span></td>
                  <td *ngIf="data.skills.arrowRoF >= 5" colspan="4"></td>
                  <td class="value">{{ whatIf['skills.arrowRoF']['coins'] | number }}
                        coins</td>
                  <td class="value" [class.best]="whatIf['skills.arrowRoF']['bestCoin']">{{
                        whatIf['skills.arrowRoF']['dpsPerCoin']
                        | number }}
                        dps/1000coins</td>
            </ng-container>
            <td *ngIf="data.skills.arrowRoF >= 5" colspan="4"></td>
            <td colspan="4" rowspan="7" class="tick-table-holder" *ngIf="data.skills.lasers > 0">
                  <table class="tick-table">
                        <tr class="tick-table-header">
                              <td class="tick-table-header" colspan="2"><span class="tick-table-header">Laser Tick
                                          Damage</span></td>
                              <td class="tick-table-header"><span class="tick-table-header">Normal</span></td>
                              <td class="tick-table-header"><span class="tick-table-header">Critical</span></td>
                        </tr>
                        <tr *ngFor="let b of getBounceData(); let i = index" class="tick-table-row">
                              <ng-container *ngIf="i <= data.skills.bounces">
                                    <td class="left" *ngIf="i == 0"><span class="tick-table-label">Initial Hit</span></td>
                                    <td class="left" *ngIf="i > 0"><span class="tick-table-label">Bounce # {{ i }}</span></td>
                                    <td class="right"><span class="tick-table-value">{{
                                                Math.round(b[data.skills.bounceDmg] * 100) }}%</span></td>
                                    <td class="right"><span class="tick-table-value">{{
                                                Math.floor(b[data.skills.bounceDmg] * data.stats.laser) }}</span></td>
                                    <td class="right"><span class="tick-table-value">{{
                                                Math.floor(b[data.skills.bounceDmg] * data.stats.laserCrit) }}</span></td>
                              </ng-container>
                        </tr>
                        <tr *ngIf="data.skills.bounces > 0">
                              <td class="left"><span class="tick-table-label">Total</span></td>
                              <td class="right"><span class="tick-table-value">{{ Math.round(data.stats.laserBounceMult
                                          * 100) }}%</span></td>
                              <td class="right"><span class="tick-table-value">{{ Math.floor(data.stats.laserBounceMult
                                          * data.stats.laser) }}</span></td>
                              <td class="right"><span class="tick-table-value">{{ Math.floor(data.stats.laserBounceMult
                                          * data.stats.laserCrit) }}</span></td>
                        </tr>
                  </table>
            </td>
      </tr>
      <tr>
            <td class="label">Arrow Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/coins-shop-arrow.png" />Arrow
                              damage coin upgrade level</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="1" [(ngModel)]="data.skills.arrow"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.arrow }} <div class="tooltip"><span class="tooltiptext">Single arrow
                              damage</span></div>
            </td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.arrow']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.arrow']['inc'] }} to arrow
                              damage results in a total dps of {{ whatIf['skills.arrow']['dps'] | number }} which is a
                              {{
                              whatIf['skills.arrow']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['skills.arrow']['best']">+{{
                        whatIf['skills.arrow']['dpsPct'] }}%</span></td>
            <td class="value">{{ whatIf['skills.arrow']['coins'] | number }}
                  coins</td>
            <td class="value" [class.best]="whatIf['skills.arrow']['bestCoin']">{{ whatIf['skills.arrow']['dpsPerCoin']
                  | number }}
                  dps/1000coins</td>
            <td colspan="2"></td>
      </tr>
      <tr>
            <td class="label">Laser Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/coins-shop-laser.png" />Laser
                              damage coin upgrade level</span></div>
            </td>
            <td><input class="num-input" type="number" min="1" [(ngModel)]="data.skills.laser" (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.laser }} <div class="tooltip"><span class="tooltiptext">Single laser
                              damage tick (first enemy hit)</span></div> / {{ data.stats.statsLaserDamage }} <div class="tooltip"><span
                              class="tooltiptext">Value shown
                              in-game on stats page for laser damage</span></div>
            </td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.laser']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.laser']['inc'] }} to laser
                              damage results in a total dps of {{ whatIf['skills.laser']['dps'] | number }} which is a
                              {{
                              whatIf['skills.laser']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['skills.laser']['best']">+{{
                        whatIf['skills.laser']['dpsPct'] }}%</span></td>
            <td class="value">{{ whatIf['skills.laser']['coins'] | number }}
                  coins</td>
            <td class="value" [class.best]="whatIf['skills.laser']['bestCoin']">{{ whatIf['skills.laser']['dpsPerCoin']
                  | number }}
                  dps/1000coins</td>
      </tr>
      <tr>
            <td class="label"># Mage Tower Lasers <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/coins-shop-num-lasers.png" />#
                              of mage tower lasers (0 = none, 1 = single, 2 = dual)</span></div>
            </td>
            <td><input class="num-input" type="number" min="0" max="2" [(ngModel)]="data.skills.lasers" (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.laserTicksPerSec }} ticks/sec <div class="tooltip"><span class="tooltiptext">Total
                              # of laser
                              ticks per second from mage tower lasers, for first enemy hit (no bounces)</span></div>
            </td>
            <ng-container *ngIf="data.skills.lasers < 2">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.lasers']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.lasers']['inc'] }} to #
                                    lasers
                                    results in a total dps of {{ whatIf['skills.lasers']['dps'] | number }} which is a
                                    {{
                                    whatIf['skills.lasers']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['skills.lasers']['best']">+{{
                              whatIf['skills.lasers']['dpsPct'] }}%</span></td>
                  <td class="value">{{ whatIf['skills.lasers']['coins'] | number }}
                        coins</td>
                  <td class="value" [class.best]="whatIf['skills.lasers']['bestCoin']">{{
                        whatIf['skills.lasers']['dpsPerCoin']
                        | number }}
                        dps/1000coins</td>
            </ng-container>
      </tr>
      <tr>
            <td class="label">Laser Bounces <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/coins-bomb-laser-bounces.png" />#
                              of bounces per laser (0 = none, 5 = max)</span></div>
            </td>
            <td colspan="2"><input class="num-input" type="number" min="0" max="5" [(ngModel)]="data.skills.bounces"
                        (ngModelChange)="updateData($event)"></td>
            <ng-container *ngIf="data.skills.bounces < 5">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.bounces']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.bounces']['inc'] }} to
                                    #
                                    bounces
                                    results in a total dps of {{ whatIf['skills.bounces']['dps'] | number }} which is a
                                    {{
                                    whatIf['skills.bounces']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['skills.bounces']['best']">+{{
                              whatIf['skills.bounces']['dpsPct'] }}%</span></td>
                  <td class="value">{{ whatIf['skills.bounces']['coins'] | number }}
                        coins</td>
                  <td class="value" [class.best]="whatIf['skills.bounces']['bestCoin']">{{
                        whatIf['skills.bounces']['dpsPerCoin']
                        | number }}
                        dps/1000coins</td>
            </ng-container>
      </tr>
      <tr>
            <td class="label">Laser Bounce Multiplier<div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/coins-bomb-laser-bounce-mult.png" />Laser bounce damage multiplir level
                              (1 = min, 6 = max)</span></div>
            </td>
            <td><input class="num-input" type="number" min="1" max="6" [(ngModel)]="data.skills.bounceDmg"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.laserBounceMult }} <div class="tooltip"><span class="tooltiptext">Laser
                              damage multiplier considering all bounces</span></div>
            </td>
            <ng-container *ngIf="data.skills.bounceDmg < 6">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.bounceDmg']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.bounceDmg']['inc'] }}
                                    to
                                    bounce
                                    damage
                                    results in a total dps of {{ whatIf['skills.bounceDmg']['dps'] | number }} which is
                                    a
                                    {{
                                    whatIf['skills.bounceDmg']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['skills.bounceDmg']['best']">+{{
                              whatIf['skills.bounceDmg']['dpsPct']
                              }}%</span></td>
                  <td class="value">{{ whatIf['skills.bounceDmg']['coins'] | number }}
                        coins</td>
                  <td class="value" [class.best]="whatIf['skills.bounceDmg']['bestCoin']">{{
                        whatIf['skills.bounceDmg']['dpsPerCoin']
                        | number }}
                        dps/1000coins</td>
            </ng-container>
      </tr>
      <tr>
            <td class="label">Cannon Ball Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/coins-bomb-cannon-ball.png" />Cannon
                              ball damage level (0 = none)</span></div>
            </td>
            <td><input class="num-input" type="number" min="0" [(ngModel)]="data.skills.cannon" (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.cannonBase }} <div class="tooltip"><span class="tooltiptext">Cannon ball
                              damage</span></div>
            </td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.cannon']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.cannon']['inc'] }} to cannon
                              ball
                              damage results in a total dps of {{ whatIf['skills.cannon']['dps'] | number }} which is a
                              {{
                              whatIf['skills.cannon']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['skills.cannon']['best']">+{{
                        whatIf['skills.cannon']['dpsPct'] }}%</span></td>
            <td class="value">{{ whatIf['skills.cannon']['coins'] | number }}
                  coins</td>
            <td class="value" [class.best]="whatIf['skills.cannon']['bestCoin']">{{
                  whatIf['skills.cannon']['dpsPerCoin']
                  | number }}
                  dps/1000coins</td>
      </tr>
      <tr>
            <td class="label">Cannon Bomb Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/coins-bomb-cannon-bomb.png" />Cannon
                              bomb damage level (0 = none)</span></div>
            </td>
            <td><input class="num-input" type="number" min="0" [(ngModel)]="data.skills.bomb" (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.bombBase }} <div class="tooltip"><span class="tooltiptext">Cannon bomb
                              damage</span></div>
            </td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.bomb']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.bomb']['inc'] }} to cannon
                              bomb
                              damage results in a total dps of {{ whatIf['skills.bomb']['dps'] | number }} which is a
                              {{
                              whatIf['skills.bomb']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['skills.bomb']['best']">+{{
                        whatIf['skills.bomb']['dpsPct'] }}%</span></td>
            <td class="value">{{ whatIf['skills.bomb']['coins'] | number }}
                  coins</td>
            <td class="value" [class.best]="whatIf['skills.bomb']['bestCoin']">{{
                  whatIf['skills.bomb']['dpsPerCoin']
                  | number }}
                  dps/1000coins</td>
      </tr>
      <tr>
            <td class="label">Finger Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/coins-shop-finger.png" />Finger
                              damage coin upgrade level (max = 2000)</span></div>
            </td>
            <td><input class="num-input" type="number" min="1" max="2000" [(ngModel)]="data.skills.finger"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.finger }} <div class="tooltip"><span class="tooltiptext">Single finger
                              click damage </span></div>
            </td>
            <ng-container *ngIf="data.skills.finger < 2000">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.finger']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.finger']['inc'] }} to
                                    finger
                                    damage results in a total dps of {{ whatIf['skills.finger']['dps'] | number }}
                                    which is a
                                    {{
                                    whatIf['skills.finger']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['skills.finger']['best']">+{{
                              whatIf['skills.finger']['dpsPct'] }}%</span></td>
                  <td class="value">{{ whatIf['skills.finger']['coins'] | number }}
                        coins</td>
                  <td class="value" [class.best]="whatIf['skills.finger']['bestCoin']">{{
                        whatIf['skills.finger']['dpsPerCoin'] | number }}
                        dps/1000coins</td>
            </ng-container>
      </tr>
      <tr>
            <td class="label">Missile Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/coins-bomb-missile-damage.png" />Missile
                              damage coin upgrade level (1 = min)</span></div>
            </td>
            <td><input class="num-input" type="number" min="1" [(ngModel)]="data.skills.missileDamage" (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.missileBase }} <div class="tooltip"><span class="tooltiptext">Single
                              Missile/Rocket
                              damage per
                              hit</span></div>
            </td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.missileDamage']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.missileDamage']['inc'] }} to
                              missile
                              damage results in a total dps of {{ whatIf['skills.missileDamage']['dps'] | number }}
                              which is a
                              {{
                              whatIf['skills.missileDamage']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['skills.missileDamage']['best']">+{{
                        whatIf['skills.missileDamage']['dpsPct'] }}%</span></td>
            <td class="value">{{ whatIf['skills.missileDamage']['coins'] | number }}
                  coins</td>
            <td class="value" [class.best]="whatIf['skills.missileDamage']['bestCoin']">{{
                  whatIf['skills.missileDamage']['dpsPerCoin'] | number }}
                  dps/1000coins</td>
      </tr>
      <tr>
            <td class="label"># of Archers <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/coins-shop-num-archers.png" />#
                              of archers coin upgrade. (1 = min, 7 = max).</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="1" max="7" [(ngModel)]="data.skills.archers"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ Math.round(100.0 * data.stats.arrowsPerSec) / 100.0 }} arrows/sec <div class="tooltip"><span
                              class="tooltiptext">Total # of arrows per second, from all archers, considering arrow
                              mastery</span></div>
            </td>
            <ng-container *ngIf="data.skills.archers < 7">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.archers']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.archers']['inc'] }} to
                                    # archers
                                    results in a total dps of {{ whatIf['skills.archers']['dps'] | number }} which is a
                                    {{
                                    whatIf['skills.archers']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['skills.archers']['best']">+{{
                              whatIf['skills.archers']['dpsPct']
                              }}%</span></td>
                  <td class="value">{{ whatIf['skills.archers']['coins'] | number }}
                        coins</td>
                  <td class="value" [class.best]="whatIf['skills.archers']['bestCoin']">{{
                        whatIf['skills.archers']['dpsPerCoin'] | number }}
                        dps/1000coins</td>
            </ng-container>
      </tr>
      <tr>
            <td class="label">Missile Firing Rate <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/coins-bomb-missile-rate.png" />Missile
                              Firing Rate coin upgrade level. (0 = min, 20 = max)</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="0" max="20" [(ngModel)]="data.skills.missileFiringRate"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.missileROF }} sec/missile</td>
            <ng-container *ngIf="data.skills.missileFiringRate < 20">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.missileFiringRate']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{
                                    whatIf['skills.missileFiringRate']['inc'] }}
                                    to
                                    missile
                                    firing rate results in a total dps of {{ whatIf['skills.missileFiringRate']['dps']
                                    |
                                    number }}
                                    which is a
                                    {{
                                    whatIf['skills.missileFiringRate']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['skills.missileFiringRate']['best']">+{{
                              whatIf['skills.missileFiringRate']['dpsPct'] }}%</span></td>
                  <td class="value">{{ whatIf['skills.missileFiringRate']['coins'] | number }}
                        coins</td>
                  <td class="value" [class.best]="whatIf['skills.missileFiringRate']['bestCoin']">{{
                        whatIf['skills.missileFiringRate']['dpsPerCoin'] | number }}
                        dps/1000coins</td>
            </ng-container>
      </tr>
      <tr>
            <td class="label"># of Missiles<div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/coins-bomb-num-missilesv2.png" />Total
                              # of missiles (do not count rockets)/ (0 = none, 1 = max)</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="0" max="1" [(ngModel)]="data.skills.numMissiles"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.missilesPerSec }} missiles/sec <div class="tooltip"><span class="tooltiptext">Total
                              # of missiles per second</span></div>
            </td>
            <ng-container *ngIf="data.skills.numMissiles < 1">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['skills.numMissiles']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['skills.numMissiles']['inc']
                                    }} to
                                    # missiles
                                    results in a total dps of {{ whatIf['skills.numMissiles']['dps'] | number }}
                                    which is a
                                    {{
                                    whatIf['skills.numMissiles']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['skills.numMissiles']['best']">+{{
                              whatIf['skills.numMissiles']['dpsPct']
                              }}%</span></td>
                  <td class="value">{{ whatIf['skills.numMissiles']['coins'] | number }}
                        coins</td>
                  <td class="value" [class.best]="whatIf['skills.numMissiles']['bestCoin']">{{
                        whatIf['skills.numMissiles']['dpsPerCoin'] | number }}
                        dps/1000coins</td>
            </ng-container>
      </tr>
      <tr>
            <td class="heading">Power Gems <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/power.png" />Upgrades
                              from red power gems (bottom tab)</span></div>
            </td>
      </tr>
      <tr>
            <td class="label">Arrow Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/power-arrow.png" />Arrow
                              damage power level</span></div>
            </td>
            <td colspan="2"><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.power.arrow"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['power.arrow']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['power.arrow']['inc'] }} to
                              arrow damage results in a total dps of {{ whatIf['power.arrow']['dps'] | number }}
                              which is a {{whatIf['power.arrow']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['power.arrow']['best']">+{{ whatIf['power.arrow']['dpsPct']
                        }}%</span></td>
            <td class="value">{{ whatIf['power.arrow']['coins'] | number }}
                  gems</td>
            <td class="value" [class.best]="whatIf['power.arrow']['bestCoin']">{{
                  whatIf['power.arrow']['dpsPerCoin'] | number }}
                  dps/gem</td>
      </tr>
      <tr>
            <td class="label">Laser Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/power-laser.png" />Laser
                              damage power level</span></div>
            </td>
            <td colspan="2"><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.power.laser"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['power.laser']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['power.laser']['inc'] }} to
                              laser damage results in a total dps of {{ whatIf['power.laser']['dps'] | number }}
                              which is a {{whatIf['power.laser']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['power.laser']['best']">+{{ whatIf['power.laser']['dpsPct']
                        }}%</span></td>
            <td class="value">{{ whatIf['power.laser']['coins'] | number }}
                  gems</td>
            <td class="value" [class.best]="whatIf['power.laser']['bestCoin']">{{
                  whatIf['power.laser']['dpsPerCoin'] | number }}
                  dps/gem</td>
      </tr>
      <tr>
            <td class="label">Missile Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/power-missile.png" />Missile
                              damage power level</span></div>
            </td>
            <td colspan="2"><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.power.missile"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['power.missile']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['power.missile']['inc'] }} to
                              missile damage results in a total dps of {{ whatIf['power.missile']['dps'] | number }}
                              which is a {{whatIf['power.missile']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['power.missile']['best']">+{{
                        whatIf['power.missile']['dpsPct'] }}%</span></td>
            <td class="value">{{ whatIf['power.missile']['coins'] | number }}
                  gems</td>
            <td class="value" [class.best]="whatIf['power.missile']['bestCoin']">{{
                  whatIf['power.missile']['dpsPerCoin'] | number }}
                  dps/gem</td>
      </tr>
      <tr>
            <td class="label"># Rockets <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/coins-bomb-num-rockets.png" />#
                              of Rockets (0 = none, 9 = max)</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="0" max="9" [(ngModel)]="data.power.numRockets"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.stats.rocketsPerSec }} rockets/sec <div class="tooltip"><span class="tooltiptext">Total
                              # of rockets per second</span></div>
            </td>
            <ng-container *ngIf="data.power.numRockets < 9">
                  <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['power.numRockets']['inc']"
                              (ngModelChange)="updateAttributes()">
                        <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['power.numRockets']['inc'] }}
                                    to
                                    # rockets results in a total dps of {{ whatIf['power.numRockets']['dps'] | number
                                    }}
                                    which is a {{whatIf['power.numRockets']['dpsPct'] }}% dps increase.</span></div>
                  </td>
                  <td class="value"><span [class.best]="whatIf['power.numRockets']['best']">+{{
                              whatIf['power.numRockets']['dpsPct'] }}%</span></td>
                  <td class="value">{{ whatIf['power.numRockets']['coins'] | number }}
                        gems</td>
                  <td class="value" [class.best]="whatIf['power.numRockets']['bestCoin']">{{
                        whatIf['power.numRockets']['dpsPerCoin'] | number }}
                        dps/gem</td>
            </ng-container>
      </tr>
      <tr>
            <td colspan="5" class="heading">Talents <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img"
                                    src="assets/talents.png" />Talent
                              (mushroom) upgrades (2nd tab in shop)</span></div>
            </td>
            <td class="no-wrap">
                  <button class="btn" (click)="optimize()">Optimize</button>
                  <div class="tooltip"><span class="tooltiptext">Optimize talents to maximize total DPS</span></div>
                  <div class="divider"></div>
            </td>
            <td colspan="7" *ngIf="log" class="value">
                  <span>Evaluated {{ log.count | number }} combinations in {{ log.elapsedTime | number }}ms</span>
                  <span *ngIf="log.elapsedTime > 0"> ( {{ Math.round(log.count / log.elapsedTime) | number }}
                        combos/ms)</span>
            </td>
      </tr>
      <tr>
            <td class="label">Arrow Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/talents-arrow.png" />Arrow
                              Damage (3% per level)</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.talents.arrow"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ Math.round(data.stats.arrowPct * 100.0) }} %<span *ngIf="data.stats.arrowMastery > 0">
                        /
                        <div *ngIf="data.stats.arrowMastery >= 1" class="mastery-img"></div>
                        <div *ngIf="data.stats.arrowMastery >= 2" class="mastery-img"></div>
                        <div *ngIf="data.stats.arrowMastery >= 3" class="mastery-img"></div>
                        {{
                        data.stats.arrowMasteryPct * 100 }} %
                  </span></td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['talents.arrow']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['talents.arrow']['inc'] }} to
                              arrow damage results in a total dps of {{ whatIf['talents.arrow']['dps'] | number }}
                              which is a {{whatIf['talents.arrow']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['talents.arrow']['best']">+{{
                        whatIf['talents.arrow']['dpsPct'] }}%</span></td>
            <td>
                  <input class="num-input" class="cb" type="checkbox" [(ngModel)]="data.talents.lockArrow" id="lock-cb">
                  <label class="cb-label" for="lock-cb">Lock <div class="tooltip"><span class="tooltiptext">Lock
                                    current points (only add points when optimizing talents)</span></div>
                  </label>

            </td>
            <td class="label">Average Arrow Damage <div class="tooltip"><span class="tooltiptext">Average single arrow
                              damage
                              (considering crtis, super crits)</span></div>
            </td>
            <td class="value">{{ Math.round(data.stats.avgArrow * 10.0) / 10.0 }}</td>
      </tr>
      <tr>
            <td class="label">Laser Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/talents-laser.png" />Laser
                              damage (3% per level)</span></div>
            </td>
            <td><input class="num-input" type="number" min="0" [(ngModel)]="data.talents.laser" (ngModelChange)="updateData($event)"></td>
            <td class="value">
                  {{ Math.round(data.stats.laserPct * 100) }} %
                  <span *ngIf="data.stats.laserMastery > 0"> /
                        <div *ngIf="data.stats.laserMastery >= 1" class="mastery-img"></div>
                        <div *ngIf="data.stats.laserMastery >= 2" class="mastery-img"></div>
                        <div *ngIf="data.stats.laserMastery >= 3" class="mastery-img"></div>
                        {{
                        data.stats.laserMasteryPct * 100 }} %
                  </span></td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['talents.laser']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['talents.laser']['inc'] }} to
                              laser damage results in a total dps of {{ whatIf['talents.laser']['dps'] | number }}
                              which is a {{whatIf['talents.laser']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['talents.laser']['best']">+{{
                        whatIf['talents.laser']['dpsPct'] }}%</span></td>
            <td>
                  <input class="num-input" class="cb" type="checkbox" [(ngModel)]="data.talents.lockLaser" id="lock-cb">
                  <label class="cb-label" for="lock-cb">Lock <div class="tooltip"><span class="tooltiptext">Lock
                                    current points (only add points when optimizing talents)</span></div>
                  </label>

            </td>
            <td class="label">Average Laser Damage <div class="tooltip"><span class="tooltiptext">Average laser tick
                              damage on initial hit, considering crits</span></div>
            </td>
            <td class="value">{{ Math.round(data.stats.avgLaser * 10.0) / 10.0 }}</td>
      </tr>
      <tr>
            <td class="label">Finger Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/talents-finger.png" />Finger
                              damage (3% per level).</span></div>
            </td>
            <td><input class="num-input" type="number" min="0" [(ngModel)]="data.talents.finger" (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ Math.round(data.stats.fingerPct * 100) }} %</td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['talents.finger']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['talents.finger']['inc'] }} to
                              finger damage results in a total dps of {{ whatIf['talents.finger']['dps'] | number }}
                              which is a {{whatIf['talents.finger']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['talents.finger']['best']">+{{
                        whatIf['talents.finger']['dpsPct'] }}%</span></td>
            <td>
                  <input class="num-input" class="cb" type="checkbox" [(ngModel)]="data.talents.lockFinger" id="lock-cb">
                  <label class="cb-label" for="lock-cb">Lock <div class="tooltip"><span class="tooltiptext">Lock
                                    current points (only add points when optimizing talents)</span></div>
                  </label>
            </td>
            <td class="label">Arrow Super Crit Damage<div class="tooltip"><span class="tooltiptext">Single arrow super
                              critical
                              hit (double critical hit damage)</span></div>
            </td>
            <td class="value">{{ Math.round(data.stats.superCrit) }}</td>
      </tr>
      <tr>
            <td class="label">Crit Chance <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/talents-crit-chance.png" />Critical
                              Hit Chance (1% per level, max
                              100%)</span></div>
            </td>
            <td><input class="num-input" type="number" min="0" max="100" [(ngModel)]="data.talents.critChance"
                        (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ data.talents.critChance }} %</td>
            <td class="value" *ngIf="data.talents.critChance < 100">+ <input class="attr-input" type="number" maxlength="2"
                        min="1" [(ngModel)]="whatIf['talents.critChance']['inc']" (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['talents.critChance']['inc'] }} to
                              crit chance results in a total dps of {{ whatIf['talents.critChance']['dps'] | number }}
                              which is a {{whatIf['talents.critChance']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value" *ngIf="data.talents.critChance < 100"><span [class.best]="whatIf['talents.critChance']['best']">+{{
                        whatIf['talents.critChance']['dpsPct'] }}%</span></td>
            <td *ngIf="data.talents.critChance >= 100" colspan="2"></td>
            <td>
                  <input class="num-input" class="cb" type="checkbox" [(ngModel)]="data.talents.lockCC" id="lock-cb">
                  <label class="cb-label" for="lock-cb">Lock <div class="tooltip"><span class="tooltiptext">Lock
                                    current points (only add points when optimizing talents)</span></div>
                  </label>

            </td>
            <td class="label">Super Crit Chance <div class="tooltip"><span class="tooltiptext">Chance of super crit
                              (double
                              critical hit damage, for arrows only)</span></div>
            </td>
            <td class="value">{{ data.stats.superCritChance * 100 }} %</td>
      </tr>
      <tr>
            <td class="label">Crit Damage <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/talents-crit-damage.png" />Critical
                              Damage (5% per level)</span></div>
            </td>
            <td><input class="num-input" type="number" min="0" [(ngModel)]="data.talents.critDamage" (ngModelChange)="updateData($event)"></td>
            <td class="value">{{ 150 + (data.talents.critDamage * 5) }} %</td>
            <td class="value">+ <input class="attr-input" type="number" maxlength="2" min="1" [(ngModel)]="whatIf['talents.critDamage']['inc']"
                        (ngModelChange)="updateAttributes()">
                  <div class="tooltip"><span class="tooltiptext">Adding {{ whatIf['talents.critDamage']['inc'] }} to
                              crit damage results in a total dps of {{ whatIf['talents.critDamage']['dps'] | number }}
                              which is a {{whatIf['talents.critDamage']['dpsPct'] }}% dps increase.</span></div>
            </td>
            <td class="value"><span [class.best]="whatIf['talents.critDamage']['best']">+{{
                        whatIf['talents.critDamage']['dpsPct'] }}%</span></td>
            <td>
                  <input class="num-input" class="cb" type="checkbox" [(ngModel)]="data.talents.lockCD" id="lock-cb">
                  <label class="cb-label" for="lock-cb">Lock <div class="tooltip"><span class="tooltiptext">Lock
                                    current points (only add points when optimizing talents)</span></div>
                  </label>

            </td>

            <td class="label">Arrow Crit Damage <div class="tooltip"><span class="tooltiptext">Single arrow critical
                              hit</span></div>
            </td>
            <td class="value">{{ Math.round(data.stats.arrowCrit) }}</td>
      </tr>
      <tr>
            <td class="label">Defense <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/talents-defense.png" />#
                              of defense talent points. These will be "locked" and will not be redistributed when you
                              click Optimize
                              button.</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.talents.defense"
                        (ngModelChange)="updateData($event)"></td>
            <td colspan="3"></td>
            <td>
                  <input class="num-input" class="cb" type="checkbox" [(ngModel)]="data.talents.lockDefense" id="lock-cb">
                  <label class="cb-label" for="lock-cb">Lock <div class="tooltip"><span class="tooltiptext">Lock
                                    current points (only add points when optimizing talents)</span></div>
                  </label>

            </td>
            <ng-container *ngIf="data.stats.laserArchers > 0">
                  <td class="label"># Laser Archers <div class="tooltip"><span class="tooltiptext">Number of laser
                                    archers
                                    from laser
                                    mastery</span></div>
                  </td>
                  <td class="value">{{ data.stats.laserArchers }}
                        <ng-container *ngIf="data.stats.laserArcherBounceFactor > 1">
                              x {{ data.stats.laserArcherBounceFactor }} <div class="tooltip"><span class="tooltiptext">Laser
                                          archer damage multiplier considering all laser archer bounces</span></div>
                        </ng-container>
                  </td>
            </ng-container>
      </tr>
      <tr>
            <td class="label">Unspent <div class="tooltip"><span class="tooltiptext"><img class="tooltip-img" src="assets/talents-unspent.png" />#
                              of unspent talent points</span></div>
            </td>
            <td><input class="num-input" type="number" maxlength="4" min="0" [(ngModel)]="data.talents.unspent"
                        (ngModelChange)="updateData($event)"></td>
            <td colspan="4"></td>
            <td class="label">Laser Archer RoF <div class="tooltip"><span class="tooltiptext">Total # of laser ticks
                              per second
                              from laser archers, for first enemy hit (no bounces)</span></div>
            </td>
            <td class="value">{{ data.stats.laserArcherTicksPerSec }} ticks/sec</td>
      </tr>
      <tr>
            <td class="heading">Damage Per Second <div class="tooltip"><span class="tooltiptext">Damage done per second
                              to
                              target</span></div>
            </td>
      </tr>
      <tr>
            <td class="label">Arrow DPS <div class="tooltip"><span class="tooltiptext">Damage per second from arrows</span></div>
            </td>
            <td colspan="2" class="value">{{ Math.round(data.stats.arrowDps * 10.0) / 10.0 | number }}/sec ({{
                  Math.round(data.stats.arrowDpsPct * 10000.0) / 100.0 | number }} %)</td>
      </tr>
      <tr>
            <td class="label">Laser DPS <div class="tooltip"><span class="tooltiptext">Damage per second from lasers</span></div>
            </td>
            <td colspan="2" class="value">{{ Math.round(data.stats.laserDps * 10.0) / 10.0 | number }}/sec ({{
                  Math.round(data.stats.laserDpsPct * 10000.0) / 100.0 | number }} %)</td>
      </tr>
      <tr>
            <td class="label">Cannon DPS <div class="tooltip"><span class="tooltiptext">Damage per second from cannon
                              (ball +
                              bomb)</span></div>
            </td>
            <td colspan="2" class="value">{{ Math.round(data.stats.cannonDps * 10.0) / 10.0 | number }}/sec ({{
                  Math.round(data.stats.cannonDpsPct * 10000.0) / 100.0 | number }} %)</td>
      </tr>
      <tr>
            <td class="label">Finger DPS <div class="tooltip"><span class="tooltiptext">Damage per second from finger
                              clicks</span></div>
            </td>
            <td colspan="2" class="value">{{ Math.round(data.stats.fingerDps * 10.0) / 10.0 | number }}/sec ({{
                  Math.round(data.stats.fingerDpsPct * 10000.0) / 100.0 | number }} %)</td>
      </tr>
      <tr>
            <td class="label">Missile DPS <div class="tooltip"><span class="tooltiptext">Damage per second from
                              missiles and rockets</span></div>
            </td>
            <td colspan="2" class="value">{{ Math.round(data.stats.missileDps * 10.0) / 10.0 | number }}/sec ({{
                  Math.round(data.stats.missileDpsPct * 10000.0) / 100.0 | number }} %)</td>
      </tr>
      <tr>
            <td class="label">Total DPS<div class="tooltip"><span class="tooltiptext">Total damage per second</span></div>
            </td>
            <td colspan="2" class="value">{{ Math.round(data.stats.totalDps * 10.0) / 10.0 | number }}/sec</td>
      </tr>
      <tr>
            <td>&nbsp;</td>
      </tr>
      <tr>
            <td colspan="3"><a class="link" target="_blank" href="https://www.kongregate.com/forums/1013821-grow-defense/topics/1792735-damage-simulator-talent-optimizer">Forum
                        Post</a></td>
      </tr>
      <tr>
            <td colspan="3"><a class="link" target="_blank" href="https://www.kongregate.com/games/endomlic/grow-defense">Play
                        Grow Defense
                        on Kongregate</a></td>
      </tr>
      <tr>
            <td colspan="3" class="note">Version {{ version }} ( {{ versionDate }} ) <a class="link" href="assets/changelog.txt"
                        target="_blank">change
                        log</a></td>
      </tr>
</table>