<table>
  <tr>
    <td colspan="9">
      <button class="btn" (click)="save()">Save</button>
      <div class="divider"></div>
      <button class="btn" (click)="load()">Load</button>
    </td>
  </tr>
  <tr>
    <td class="label">Level</td>
    <td class="value">{{ data.level }}</td>
  </tr>
  <tr>
    <td class="heading">Skills</td>
  </tr>
  <tr>
    <td class="label">Arrow Damage</td>
    <td colspan="2"><input type="number" maxlength="4" min="0" [(ngModel)]="data.skills.arrow" (ngModelChange)="updateData($event)"></td>
    <td class="label">Base Arrow Damage</td>
    <td class="value">{{ data.stats.arrowBase }}</td>
    <td class="label">Arrow Crit Damage</td>
    <td class="value">{{ Math.round(data.stats.arrowCrit) }}</td>
    <td class="label">Arrow Super Crit Damage</td>
    <td class="value">{{ Math.round(data.stats.arrowSuperCrit) }}</td>
  </tr>
  <tr>
    <td class="label">Laser Damage</td>
    <td colspan="2"><input type="number" min="0" [(ngModel)]="data.skills.laser" (ngModelChange)="updateData($event)"></td>
    <td class="label">Base Laser Damage</td>
    <td class="value">{{ data.stats.laserBase }}</td>
    <td class="label">Laser Crit Damage</td>
    <td class="value">{{ Math.round(data.stats.laserCrit) }}</td>
    <td class="label">Laser Super Crit Damage</td>
    <td class="value">{{ Math.round(data.stats.laserSuperCrit) }}</td>
  </tr>
  <tr>
    <td class="heading">Talents</td>
  </tr>
  <tr>
    <td class="label">Arrow Damage</td>
    <td><input type="number" maxlength="4" min="0" [(ngModel)]="data.talents.arrow" (ngModelChange)="updateData($event)"></td>
    <td class="value">{{ data.stats.arrowPct * 100 }} %<span *ngIf="data.stats.arrowMastery > 0"> / {{
        data.stats.arrowMasteryPct * 100 }} %</span></td>
    <td class="label">Normal Arrow Damage</td>
    <td class="value">{{ Math.round(data.stats.arrow) }}</td>
    <td class="label">Average Arrow Damage</td>
    <td class="value">{{ Math.round(data.stats.avgArrow * 10.0) / 10.0 }}</td>
    <td class="label">Arrow Rate of Fire</td>
    <td class="value">{{ data.stats.arrowRoF }}/sec</td>
  </tr>
  <tr>
    <td class="label">Laser Damage</td>
    <td><input type="number" min="0" [(ngModel)]="data.talents.laser" (ngModelChange)="updateData($event)"></td>
    <td class="value">{{ data.stats.laserPct * 100 }} %<span *ngIf="data.stats.laserMastery > 0"> / {{
        data.stats.laserMasteryPct * 100 }} %</span></td>
    <td class="label">Normal Laser Damage</td>
    <td class="value">{{ Math.round(data.stats.laser) }}</td>
    <td class="label">Average Laser Damage</td>
    <td class="value">{{ Math.round(data.stats.avgLaser * 10.0) / 10.0 }}</td>
    <td class="label">Laser Rate of Fire</td>
    <td class="value">{{ data.stats.laserRoF }}/sec</td>
  </tr>
  <tr>
    <td class="label">Crit Chance</td>
    <td><input type="number" min="0" max="100" [(ngModel)]="data.talents.critChance" (ngModelChange)="updateData($event)"></td>
    <td class="value">{{ data.talents.critChance }} %</td>
    <td class="label">Crit Multiplier</td>
    <td class="value">{{ Math.round(data.stats.critMult * 1000.0) / 1000.0 }}</td>
    <td colspan="2"></td>
    <td class="label"># Laser Archers</td>
    <td class="value">{{ data.stats.laserArchers }}</td>
  </tr>
  <tr>
    <td class="label">Crit Damage</td>
    <td><input type="number" min="0" [(ngModel)]="data.talents.critDamage" (ngModelChange)="updateData($event)"></td>
    <td class="value">{{ 150 + (data.talents.critDamage * 5) }} %</td>
    <td class="label">Super Crit Chance</td>
    <td class="value">{{ data.stats.superCritChance * 100}} %</td>
  </tr>
  <tr>
    <td class="heading">Damage Per Second</td>
  </tr>
  <tr>
    <td class="label">Arrow DPS</td>
    <td class="value">{{ Math.round(data.stats.arrowDps * 10.0) / 10.0 | number }}/sec ({{
      Math.round(data.stats.arrowDpsPct * 10000.0) / 100.0 | number }} %)</td>
  </tr>
  <tr>
    <td class="label">Laser DPS</td>
    <td class="value">{{ Math.round(data.stats.laserDps * 10.0) / 10.0 | number }}/sec ({{
      Math.round(data.stats.laserDpsPct * 10000.0) / 100.0 | number }} %)</td>
  </tr>
  <tr>
    <td class="label">Total DPS</td>
    <td class="value">{{ Math.round(data.stats.totalDps * 10.0) / 10.0 | number }}/sec</td>
  </tr>
</table>